{% extends 'index.html' %}
{% block content %}
{% include 'components/navbar.html' %}
<h2>Create New task</h2>
<form action="/task/create" method="post">
    <div class="mb-3">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name">
        {% for message in get_flashed_messages(category_filter='err_task_name') %}
            <p class='alert alert-danger'>{{ message }}</p>
        {% endfor %}
    </div>
    <div class="mb-3">
        <label for="description">Description</label>
        <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
        {% for message in get_flashed_messages(category_filter='err_task_description') %}
            <p class='alert alert-danger'>{{ message }}</p>
        {% endfor %}
    </div>
    <button class="btn btn-success">Add task</button>
</form>
{% endblock content %}